<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <script src="htmx.min.js"></script>
  </head>
  <body>
    {{#if counting}}
    {{> stopCounting }}
    {{else}}
    {{> startCounting }}
    {{/if}}
    {{> message count=count}}
    </div>
  </body>
</html>
